<!-- <div class="verde text-left">
	<label class="font-weight-bold mr-5 mt-4 ml-3">Titulo de la Tarea</label>
	<button class="btn btn-dark ">COMPLETA/INCOMPLETA</button>
</div>
<div class="rojo text-left">
	<label class="font-weight-bold mr-5 mt-4 ml-3">Titulo de la Tarea</label>
	<button class="btn btn-dark">COMPLETA/INCOMPLETA</button>
</div> -->

<div *ngFor="let t of listaTareas" [ngClass]="{ 'completa': t.completa , 'incompleta': !t.completa }" >
	<h3>{{t.titulo}}</h3>
	<button (click)="handleCambiarEstado(t)">CAMBIAR ESTADO</button>
</div>
